@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway);
.top-nav {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
  color: #0d3143;
  height: 70px;
  padding: 1em;
  box-shadow: 0px 0px 5px 0px #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0d3143;
  font-weight: 600;
}

.logo {
  height: 2.5rem;
}
.logo img {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #006699;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #000000;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #cccccc;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #006699;
  }
  .menu > li a {
    color: #cccccc;
  }
}
.carousel {
  height: 72vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -70px;
  padding-top: 70px;
}
.carousel .selectors {
  margin-top: -3rem;
}
.carousel .selectors a {
  font-size: 0;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: #ebebeb;
  box-shadow: 0px 0px 5px 0px #000000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0.5rem 0.5rem 0;
  position: relative;
}
.carousel .selectors a:hover {
  background: #006699;
  color: #cccccc;
}
.carousel .selectors a:focus {
  background: #0d3143;
  color: #cccccc;
}
.carousel .selectors a:active {
  top: 1px;
}

.back-btn,
.next-btn {
  z-index: 1;
  background-color: transparent;
  border: none;
}
.back-btn :hover,
.next-btn :hover {
  color: #0d3143;
}
.back-btn a,
.next-btn a {
  font-size: 4rem;
  color: #006699;
}

.arrows {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 95vw;
  position: relative;
}

.carousel-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.slides {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  margin-top: -70px;
  padding-top: 70px;
}
.slides .slide {
  margin-top: -70px;
  padding-top: 70px;
  width: 100vw;
  height: 80vh;
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.slides::-webkit-scrollbar-thumb {
  background: #006699;
  border-radius: 7px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

h1, h2, h3, h4, p, strong {
  cursor: default;
}

h1,
h2,
h3,
h4 {
  color: #006699;
}

h1 {
  font-size: 1.4rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

span {
  font-size: 0.9rem;
  text-align: center;
}

p {
  color: #0c0100;
  text-align: center;
}

@media (min-width: 700px) {
  h1 {
    font-size: 1.6rem;
    text-align: left;
  }
  h2 {
    font-size: 1.4rem;
    text-align: left;
  }
  span, p {
    font-size: 1.1rem;
  }
}
.contact-link span {
  color: #cccccc;
}

.contact-link:hover {
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.74);
}

.location-icon {
  width: 1.2rem;
  margin: 0 0 5px 0;
}
.location-icon img {
  width: 100%;
}

.address-head, .contact-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.3rem;
}

.address-head {
  margin-bottom: 1rem;
}

.contact {
  margin-top: -70px;
  padding-top: calc(70px + 0.2rem);
  margin-bottom: 3rem;
}

.map {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-icon {
  margin-bottom: 2px;
  width: 1.2rem;
  color: #006699;
}

.contact-link {
  padding: 0.6rem 0.8rem;
  background-color: #006699;
  border-radius: 8px;
}

@media (min-width: 700px) {
  .map {
    height: 20rem;
  }
  .contact-icon {
    width: 1.4rem;
  }
  .contacts {
    justify-content: flex-start;
    gap: 3rem;
  }
}
.img-container {
  width: 15rem;
  overflow: hidden;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.img-container img {
  width: 25rem;
  height: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: auto;
}
.grid .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1080px) {
  .grid {
    grid-template-columns: auto auto auto;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #cccccc;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content-container {
  margin-top: 70px;
  height: fit-content;
}

.container {
  padding-top: calc(1.5rem + 70px);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: -70px;
}

* {
  font-family: "Noto Serif Telugu", serif;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
